* {
    font-family: Verdana, Tahoma, sans-serif;
}

.pageTitle {
    text-align: center;
    font-size: 32px;
    color: rgb(87, 63, 110);
}

img {
    margin: 0 15%;
    border-radius: 100px 100px 0 100px;
}

.content {
    font-size: 18px;
}

.att {
margin: 10px auto auto 71%;
}

.title {
    background-color: rgb(208, 155, 89);
    color: rgb(47, 39, 39);
    border-radius: 10px 10px 0 0;
    margin: auto;
    padding: 5px;
    text-align: center;
    font-size: 26px;
}

.homepage {
    font-size: 26px;
    margin: auto;
    padding: 20px 60px 40px 60px;
    background-color: rgb(226, 186, 137);
    border-radius: 0 0 10px 10px;
}

a,
.list {
    color: rgb(53, 81, 108);
}

.disclaimer {
    color: rgb(106, 87, 124);
}

body {
    background-color: bisque;
}

.home {
    font-size: 20px;
}

h2 {
    font-size: 26px;
    color: rgb(87, 63, 110);
}